*{
    padding: 0;
    margin: 0;
}
.parents{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(living.jpeg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.parents ul{
    color: white;
    text-align: center;
    font-size: 3em;
    padding-top: 60px;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    justify-content: space-between;
}
.parents li{
    list-style: none;
}
.greens{
    color: white;
    padding-left: 12%px;
    text-align: center;
    padding-top: 100px;
}
.greentwo{
  color: white;
    padding-left: 12%px;
    text-align: center;
    padding-top: 10px;
} 
.greenthree{
    color: white;
    padding-left: 12%px;
    text-align: center;
    padding-top: 10px;
}  
.hero{
    display: flex;
    border: none;
    gap: 50px;
}
.header{
    display: flex;
    justify-content: space-around;
}
.buttonone{
    padding: 5px 30px;
    background-color:#204E51 ;
    color: white;
    border-radius: 3px;
    border: #204E51 solid 2px;
}
.buttontwo{
    padding: 5px 30px;
    background-color:#204E51 ;
    color: white;
    border-radius: 8px;
    border: #204E51 solid 2px;
}
.buttonthree{
    padding: 5px 30px;
    background-color:#204E51 ;
    color: white;
    border-radius: 3px;
    border: #204E51 solid 2px;
}

/* sectiontwo */
.sectiontwo{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.butonone{
    padding: 5px 30px;
    background-color:#204E51 ;
    color: white;
    border-radius: 3px;
    border: #204E51 solid 2px;
}
.butontwo{
    padding: 5px 30px;
    background-color:#204E51 ;
    color: white;
    border-radius: 8px;
    border: #204E51 solid 2px;
}
.butonthree{
    padding: 5px 30px;
    background-color:#204E51 ;
    color: white;
    border-radius: 3px;
    border: #204E51 solid 2px;
}
.sectionthree{
    margin-top: 60px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
}
.sectionfour{
    display: flex;
    justify-content: space-around;
}
