*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
}
.menu{
    display: flex;
    gap: 60px;
}
.menu ul{
    display: flex;
    gap: 60px;
    font-size: 1.4em;
    padding-top: 10px;
    font-weight: 200px;
}
.menu ul li{
    list-style: none;
}
#btnlogin{
    padding: 5px 30px;
    background-color: #204E51;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.3em;
}
#btnsingup{
    padding: 5px 30px;
    background-color: transparent;
    color: #204E51;
    border-radius: 8px;
    font-size: 1.3em;
    margin-left: 38px;
    border: #204E51 solid 2px;
}

/* section to */
.hero{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(assets/image\ 1.png);
    width: 100%;
    height: 100vh;
}
.hero h1{
    color: white;
    font-size: 4em;
    text-align: center;
    padding-top: 140px;
    padding-left: 12%;
    padding-right: 12%;
}
.hero p{
    color: grey;
    text-align: center;
    padding-left: 12%;
    padding-top: 12px;
    padding-right: 12%;
}
/* section three */
.getstart{
    display: flex;
    margin: 90px 0;
    justify-content: space-around;

}
.left-get{
    width: 35%;
    margin-top: 20px;
}
.left-get h1{
    font-size: 3.5em;
    font-weight: 900;
    margin-bottom: 20px;
}
.left-get button{
    background-color: #204E51;
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
    border: none;
    font-size: 1.8em;
    margin-top: 30px;
}
.right-get img{
    width: 500px;
    margin-top: 20px;

}
.right-get{
    position: relative;
}
.since{
    background-color: white;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 1.8em;
    color: #204E51;
    position: absolute;
    bottom: 40px;
    left: 30%;
}
/* end */
.endone h1{
    color: #204E51;
    font-size: 4em;
}
.endone{
    margin-top: 20px;
    padding-left: 300px
}
.boxser{
    background-color: gray;
    /* width: 300px; */
    height: 200px;
    text-align: center;
    align-content: center;
    border-radius: 30px;
}
.boxser i{
    font-size: 3em;
}
.boxser h1{
    font-size: 1.6em;
    margin-top: 20px;
}
.servise{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: space-around;
}
/* section five */
.testimonial{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.card{
    background-color: #204E51;
    width: 800px;
    height: 300px;
    border-radius: 10px;
}
#imgone{
    background-color: rgb(192,181,181);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10%;
}
#imgone img{
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
}
/* sectionfive */
/* Features */
#fea {
    margin-top: 200px;
}

.feaBox {
    background-color: white;
    width: 281px;
    height: 508px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.feaBox h1 {
    font-size: 40px;
    font-weight: 400;
}

.feaBox p {
    font-size: 20px;
    font-weight: 400;
}

.feature {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#fea h2 {
    text-align: center;
    padding-top: 30px;
    text-decoration: underline;
    color: #204e51;
}

/* Features */
.qeebtaSawirka {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(/assets/Rectangle\ 4.png);
    width: 100%;
    height: 65vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-bottom: 40px;
}

.qeebtaSawirka h1 {
    font-size: 5em;
    color: white;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 30px;

}

.qeebtaSawirka #btnLearn {
    padding: 8px 30px;
    background-color: #204e51;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.3em;
}

#btnCon {
    padding: 5px 30px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #ffffff;
    font-size: 1.3em;
    margin-left: 38px;
}

/* Benefits */
.benefit {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 120px;
}

.benLeft {
    width: 30%;
    margin-top: 80px;
}

.benLeft h1 {
    font-size: 4em;
    padding-bottom: 20px;
    color: #204e51;
}

.benLeft p {
    font-size: 1.3em;
    color: #656969;
    padding-bottom: 20px;
}

.benLeft button {
    padding: 10px 30px;
    background-color: #204e51;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.benRight {
    background-color: #204e51;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.ye {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ye img {
    width: 70px;
    height: 70px;
}

.ye p {
    color: #cdd7d7;
}

/* Testimonial */
.card {
    background-color: #204e51;
    width: 800px;
    height: 400px;
    border-radius: 10px;
}

.Testimonial {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;
}

#imgOne {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10%;
}

#imgOne img {
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.ls {
    margin-bottom: 20px;
}

.ls .start {
    color: goldenrod;
    font-size: 30px;
    padding-bottom: 20px;
}

.ls h1 {
    font-size: 2em;
    color: white;
    padding-bottom: 10px;
}

.ls #Forward {
    color: #c3dada;
    padding-bottom: 20px;
}

.ls p {
    font-size: 1.1em;
    color: #c3dada;
}

/* Blog */
.blog {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.blogBox {
    width: 400px;
    margin-bottom: 30px;
}

.blogBox h1 {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #204e51;
}

.blogBox p {
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
    color: #939393;
}

.blogBox span {
    text-decoration: underline;
    color: #6a9092;
}

/* Footer */
footer{
    background-color: #204e51;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.logo h1{
    margin-bottom: 30px;
    font-size: 3em;
}
.logo p{
    margin-bottom: 30px;
    font-size: 1.1em;
}

.links{
    display: flex;
    gap: 200px;
}

.icon {
    font-size: 2em;
}

.pages, .link{
    font-size: 1.2em;
   margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}n
ul li{
    list-style: none;
    line-height: 2em;
}

.header i{
    display: none;
}


@media(max-width:390px){
    .menu ul{
        display: none;
    }
    .headerbtn{
        display: none;
    }
    .header{
        padding: 20px 20px;
    }
    .header{
        padding: 20px;
    }
    .header i{
        display: block;
        font-size: 2em;
        padding-top: 8px;
    }
    /* section two */
    .hero h1{
        font-size: 2.4em;
        padding: 80px 20px 30px 20px;
    }
    .hero p{
        padding: 0 20px 30px 20px;
    }
    .hero{
        height: 550px;
    }

    /* section three */
    .getstart{
        display: block;
    }
    .left-get{
        width: 90%;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 0.9em;
        margin-bottom: 60px;
    }
    .right-get img{
      width: 400px;
    }
    .since{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    /* section four */
    .servise{
        display: grid;
        grid-template-columns: 290px;
        row-gap: 40px;
    }
}




/* big smart phone */
@media (min-width:391px) and (max-width:430px){
    .header ul{
        display: none;
    }
    .headerbtn{
        display: none;
    }
    .hero h1{
        padding: 50px 10px 20px 20px;
    }
    .hero p{
        padding: 10px 30px 20px 10px;
    }

    .getstart{
        display: block;
    }
    .left-get{
        width: 90%;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 0.9em;
        margin-bottom: 60px;
    }
    .right-get img{
      width: 400px;
    }
    .since{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    /* section four */
    .servise{
        display: grid;
        grid-template-columns: 290px;
        row-gap: 40px;
    }
    .qeebtaSawirka h1{
        padding: 20px 100px 300px 20px;
    }
}


/* shadow */
/* .boxser{
    box-shadow: 5px 5px 8px yellow,-5px -5px 8px yellow;
}
li:hover{
    background-color: green;
    color: white;
}
.boxser:hover i{
    transform: scale(1.3);
}
.since:hover{
    transform: rotate(180deg) scale(1);
   transition: all 2s ease-in;

}


.getstart:hover.left-get{
    transform: translatex(-800);
}
.getstart:hover.right-get{
    transform: translatex(800);
} */
 
 
