.box{
    width: 300px;
    height: 200px;
    background-color: rgb(255, 123, 0);
    font-size: 2em;
    color: white;
    text-align: center;
    /* transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 4s; */
    transition: all 1s ease-in ;
    /* transform: scale(1); */
}
.box:hover{
    /* width: 500px;
    border-radius: 40px;
    background-color: red; */
     /* transform: scaley(0.4);
     transform: rotate(180deg) scale(4); */
     /* transform: translate(400px); */
     transform: skewx(40deg);
}
/* x:stand for width,y:stand for height */
